.overview {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.poster img {
    width: 200px; 
    height: 280px; 
    object-fit: cover;
    border-radius: 10px;
}

.info {
    margin-left: 20px;
    text-align: justify;
}

h2, span{
    display: inline;
    padding-right: 20px;    
}

h2, .subtitle{
    color: #1e7eaa;
}

p{
    margin: 10px 0;
}

.subtitle {
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0;
}

.description {
    margin-top: 20px;
    line-height: 1.5;
}

.moments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.moment img {
    width: 290px;
    height:190px;
}

.actors {
    display: flex;
    flex-wrap: wrap;
}

.actor {
    margin-right: 10px;
}

.actor img {
    width: 140px;
    height: 190px;
}