.info{
    margin-left: 20px;
    position: relative;
}

.btnRemove{
    text-decoration: none;
    color: black;
    padding: 12px 64px;
    background: #f08b17fa;
    cursor: pointer;

    position: absolute;
    bottom: -30px;
    left: -220px;
    border-radius: 0px 0px 10px 10px;
}

.btnRemove:hover{
    background: #f18c19;
}

.btnAdd{
    text-decoration: none;
    color: black;
    padding: 12px 72px;
    background: #1e7eaa;
    /* background: #f18c19; */
    cursor: pointer;

    position: absolute;
    bottom: -30px;
    left: -220px;
    border-radius: 0px 0px 10px 10px;
}

.btnAdd:hover{
    background: #1c739b;
}